@use "mixins.scss";

.button {
  position: fixed;
  bottom: mixins.to-rem(32);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: none;
  border-radius: mixins.to-rem(100);
  background-color: slateblue;
  width: mixins.to-rem(100);
  height: mixins.to-rem(100);
  color: #fff;
}

.portal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  max-width: 100vw;
  max-height: 100vh;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.scanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #fff;
  width: min(80vh, mixins.to-rem(900));
}

.p {
  padding: mixins.to-rem(8) mixins.to-rem(16);
  color: red;
  text-align: center;
}
